.container {
  @apply flex overflow-x-auto text-sm origin-center rotate-180;

  .table {
    @apply origin-center -rotate-180;

    .table-data {
      // h-[calc(100vh-150px)] lg:h-[calc(100vh-245px)]
      @apply w-full min-w-[calc(100vw-30px)]   
       lg:min-w-[calc(100vw-290px)];

      .header {
        @apply bg-blue-200 text-white-100 text-base;
      }

      .row {
        @apply cursor-pointer relative grid grid-cols-[minmax(100px,_10fr)_minmax(140px,_14fr)_minmax(180px,_18fr)_minmax(100px,_10fr)_minmax(115px,_11.5fr)_minmax(135px,_13.5fr)_minmax(120px,_12fr)] w-full transition-all duration-[.3s] ease-in-out
        even:bg-white-200
        [&_.word-modal]:hover:visible;

        > div {
          @apply border-l border-t p-1;

          .icon {
            @apply mr-1.5;
          }

          &:first-child {
            @apply border-l-0;
          }
        }

        &:first-child {
          div {
            @apply flex items-center border-t-0;
          }
        }

        &:last-child {
          @apply border-b;
        }

        .word-modal {
          @apply invisible rounded-lg shadow-[0_.5rem_1rem_rgba(0,0,0,.15)] bg-white-100 p-2 absolute bottom-[5px] left-[5px] w-[60px] h-[33px];
        }
      }
    }
  }
}

.no-words {
  @apply flex items-center text-blue-200 justify-center h-[calc(100vh-150px)] w-[calc(100vw-30px)] 
  text-2xl font-bold text-center
  lg:w-[calc(100vw-290px)] lg:h-[calc(100vh-245px)];
}
