.card {
  @apply bg-[#e6eaf0] rounded-3xl cursor-pointer gap-3 bg-opacity-50 p-4 h-[100%]
  md:flex md:flex-col md:gap-4
  lg:hover:bg-gray-50;

  .container {
    @apply flex flex-col gap-2 flex-wrap h-full justify-between;

    .info {
      @apply flex flex-col gap-2;

      .translation {
        @apply flex items-center gap-2 mt-1.5 my-2 
        sm:mt-2;

        .flag {
          @apply w-5 h-5 
          md:w-6 md:h-6;
        }
      }
    }
  }
}
