.container {
  @apply flex flex-col p-4 min-h-[calc(100vh-397px-73px)]
  sm:min-h-[calc(100vh-193px-81px)] 
  md:min-h-[calc(100vh-153px-81px)] 
  lg:min-h-[calc(100vh-97px-81px)];

  .top {
    @apply flex justify-between;
  }

  .flashcard-slider {
    .flashcard {
      @apply h-[650px] relative;
    }
  }

  .loader {
    @apply h-[calc(100vh-397px-73px)] w-[calc(100vw-32px)]
    sm:h-[calc(100vh-193px-81px)] 
    md:h-[calc(100vh-153px-81px)] 
    lg:h-[calc(100vh-97px-81px-32px)] lg:w-[calc(100vw-254px-32px)];
  }

  .no-lists {
    @apply flex flex-col items-center justify-center h-[calc(100vh-397px-73px)] w-[calc(100vw-32px)]
    sm:h-[calc(100vh-193px-81px)] 
    md:h-[calc(100vh-153px-81px)] 
    lg:h-[calc(100vh-97px-81px-32px)] lg:w-[calc(100vw-254px-32px)];

    p {
      @apply text-center text-lg font-bold text-blue-200 mb-2
      sm:text-[2rem] sm:mb-4;
    }

    .links {
      @apply flex font-medium items-center justify-center bg-blue-200 text-white-100 px-3 py-1.5 rounded transition-all ease-in-out duration-300
      hover:bg-purple-100;

      svg {
        @apply mr-2;
      }
    }
  }
}

.finished {
  > div {
    @apply flex w-full h-full mb-10;
  }

  .modal {
    @apply flex flex-col h-full w-full justify-between mb-10;

    .top {
      @apply flex flex-col gap-4;

      h3 {
        @apply text-lg text-blue-200 font-bold text-center 
        sm:text-2xl sm:text-start 
        md:text-3xl;
      }

      p {
        @apply text-base text-center font-medium 
        sm:text-start
        md:text-lg;
      }
    }

    .new-words {
      @apply w-full p-6 mt-12 rounded-3xl shadow-lg;

      .info {
        @apply flex justify-between items-center;

        p {
          @apply text-lg font-bold 
          md:text-2xl;
        }

        .btn {
          @apply bg-transparent text-black flex items-center justify-center p-3 rounded-2xl bg-[#F0F0F0]
          hover:bg-blue-200 hover:text-white-100 
          [&_svg]:hover:text-white-100;
        }
      }

      ul {
        @apply mt-6 p-0 overflow-y-auto max-h-[285px];

        li {
          @apply rounded-2xl p-4 flex justify-between items-center leading-none  
          even:bg-white-100 
          odd:bg-[#F7F9FC] 
          [&_*]:m-0;
        }
      }
    }

    .link {
      @apply mt-2 text-center rounded px-5 py-2 self-center bg-blue-200 text-white-100 font-bold transition-all ease-linear duration-150
      hover:bg-purple-100;
    }
  }
}

.title {
  @apply text-blue-200 font-bold mb-0;
}

.link {
  @apply text-blue-200 font-medium transition-all ease-in-out duration-150 hover:text-purple-100 mb-0;
}
