.container {
  @apply mx-auto lg:mx-0;

  .top {
    @apply flex flex-col items-center my-2 px-12 pt-10 pb-10 text-center;

    h1 {
      @apply text-lg text-black text-center font-semibold 
      sm:text-2xl 
      lg:text-[40px] lg:text-start;
    }

    img {
      @apply w-[270px] py-4 
      sm:w-auto sm:mb-2 
      lg:mb-4;
    }

    h2 {
      @apply text-lg text-[#0925509D] font-medium 
      sm:text-2xl;
    }

    p {
      @apply text-sm font-medium text-black mb-0 mt-2
      sm:text-base 
      lg:text-lg;
    }
  }
}
