.layout {
  @apply fixed top-0 left-0 w-screen h-screen z-30 bg-neutral-800 opacity-50;
}
.modal {
  @apply fixed max-w-[1040px] flex flex-col box-border min-w-fit overflow-hidden p-5 bg-white-100 inset-y-0 inset-x-0 z-40
  sm:inset-x-12 sm:inset-y-28 sm:rounded
  lg:inset-x-20 lg:inset-y-24 lg:p-8
  xl:mx-auto;

  button {
    @apply py-2 px-2 self-end font-bold z-[2];

    svg {
      @apply transition-all ease-linear duration-150
      hover:text-purple-100;
    }
  }

  > div {
    @apply box-border;
  }
}
