.heading {
  @apply flex justify-between gap-6 flex-col-reverse items-center mb-14 
  sm:mb-16 
  lg:flex-row lg:mb-20;

  .heading-left {
    @apply flex flex-col gap-4 items-center 
    lg:w-[60%] lg:items-start lg:gap-6;

    .stats {
      @apply flex gap-4 items-center;

      > div {
        @apply flex items-center gap-[6px] text-[#949494];
      }
    }
  }

  .heading-right {
    @apply w-[150px] text-center  
    sm:w-[200px] sm:text-start;

    img {
      @apply mt-6 w-full h-auto;
    }
  }
}
