.modal {
  @apply flex flex-col justify-center h-[calc(100vh-85px)] overflow-y-auto
  sm:h-[calc(100vh-300px)] 
  lg:flex-row lg:h-[calc(100vh-305px)] 
  xl:h-[calc(100vh-275px)];

  .image {
    @apply hidden w-[375px] pr-4 items-center
    lg:flex lg:basis-1/2;
  }

  .form-container {
    @apply basis-1/2 pr-2 h-full
    lg:flex lg:justify-start lg:flex-col;

    h2 {
      @apply mb-2 text-3xl font-bold;
    }

    > p {
      @apply mb-5;
    }

    button {
      @apply mt-2 text-black bg-transparent mb-2 w-full rounded
      last:mt-6 last:bg-blue-200 last:text-white-100
      lg:hover:bg-[#b7b7b73d] last:lg:hover:bg-purple-100;

      svg {
        @apply mr-2;
      }
    }

    span {
      @apply block text-center text-sm my-2;
    }

    div {
      @apply flex justify-between mt-10;

      span {
        @apply my-0 text-base cursor-pointer block underline transition-all ease-in-out duration-150
        lg:hover:text-purple-100;
      }
    }
  }
}
