.container {
  @apply flex flex-col items-center text-[#bcc1c6] transition-all ease-linear duration-150
  [&_div]:transition-all [&_div]:ease-linear [&_div]:duration-150
  hover:text-purple-100 [&_div]:hover:text-purple-100 [&_div]:hover:border-purple-100;

  > p {
    @apply w-[100px] text-center cursor-pointer 
    sm:w-[135px];
  }
}

.photo {
  @apply border border-[#00000020] cursor-pointer text-[#bcc1c6] border-dashed my-2 w-[100px] h-[100px] rounded-xl flex items-center justify-center font-bold transition-all ease-linear duration-150 
  sm:w-[135px] sm:h-[135px]
  hover:text-purple-100 hover:border-purple-100;

  img {
    @apply rounded-xl;
  }
}

.add-list {
  @apply sm:h-[410px] sm:w-[300px] sm:self-center sm:justify-self-center;

  .list-form {
    .add-photo {
      @apply w-full mb-5;
    }

    .error {
      @apply text-red mt-1.5 text-sm;
    }

    button {
      @apply rounded-lg w-full mt-3;
    }
  }
}
