.container {
  @apply flex flex-col items-center min-h-[calc(100vh-201px-73px)]
  sm:min-h-[calc(100vh-193px-81px)]
  md:min-h-[calc(100vh-153px-81px)]
  lg:min-h-[calc(100vh-97px-81px)];

  .sections {
    @apply flex flex-col w-full;

    .top {
      @apply flex items-center my-2 text-blue-200;

      .tags {
        @apply flex items-center gap-3 ml-3;
      }
    }

    .level {
      @apply mb-6
      last:mb-0;

      .topics {
        @apply grid grid-cols-1 gap-4
        sm:grid-cols-2
        md:grid-cols-3
        lg:grid-cols-2
        xl:grid-cols-3;
      }

      .no-list {
        @apply min-h-[calc(100vh-72px-352px)] flex items-center justify-center text-2xl font-bold text-gray-300
        sm:min-h-[calc(100vh-223px-192px)]
        md:min-h-[calc(100vh-223px-152px)]
        lg:min-h-[calc(100vh-223px-96px)];
      }

      .vocabulary-quiz {
        @apply py-6 flex flex-col gap-4 bg-gradient-to-b from-white-100 to-[#f4f6f8] sm:px-4;

        .items {
          @apply grid gap-4 grid-cols-auto-fill-140;

          .item {
            @apply flex items-center justify-center;
          }
        }
      }
    }
  }

  .loader {
    @apply h-[calc(100vh-397px-73px)] 
    sm:h-[calc(100vh-193px-81px)] 
    md:h-[calc(100vh-153px-81px)] 
    lg:h-[calc(100vh-97px-81px)] lg:w-[calc(100vw-254px-32px)];
  }

  .no-page {
    @apply flex flex-col items-center justify-center h-[calc(100vh-397px-73px)] 
    sm:h-[calc(100vh-193px-81px)] 
    md:h-[calc(100vh-153px-81px)] 
    lg:h-[calc(100vh-97px-81px)] lg:w-[calc(100vw-254px-32px)];

    a {
      @apply flex font-medium items-center justify-center bg-blue-200 text-white-100 px-3 py-1.5 rounded transition-all ease-in-out duration-300
      lg:hover:bg-purple-100;
    }
  }
}

.badge {
  @apply text-sm px-2 py-1 rounded-2xl border border-blue-200 cursor-pointer transition-all ease-in-out duration-[.15s]
  lg:hover:bg-purple-100 lg:hover:text-white-100 lg:hover:border-purple-100;
}

.active {
  @apply text-white-100 bg-blue-200 cursor-default
  lg:hover:bg-blue-200 lg:hover:text-white-100 lg:hover:border-blue-100;
}

.level-title {
  @apply text-center text-xl font-bold text-blue-200 my-4
  sm:text-2xl;
}
