.container {
  @apply flex flex-col items-center p-4 min-h-[calc(100vh-397px-73px)]
  sm:min-h-[calc(100vh-193px-81px)]
  md:min-h-[calc(100vh-153px-81px)]
  lg:min-h-[calc(100vh-97px-81px)];

  > h2 {
    @apply text-center text-xl font-bold text-blue-200 my-4
    sm:text-2xl;
  }

  .sections {
    @apply flex flex-col w-full;

    .top {
      @apply flex items-center my-2 text-blue-200;

      > h4 {
        @apply text-lg font-bold;
      }

      .tags {
        @apply flex items-center gap-3 ml-3;

        > span {
          @apply text-sm px-2 py-1 rounded-2xl border border-blue-200 cursor-pointer transition-all ease-in-out duration-[.15s]
          hover:bg-purple-100 hover:text-white-100 hover:border-purple-100;
        }

        .active {
          @apply text-white-100 bg-blue-200 cursor-default
          hover:bg-blue-200 hover:text-white-100 hover:border-blue-100;
        }
      }
    }

    .level {
      @apply mb-6
      last:mb-0;

      h2 {
        @apply text-center text-xl font-bold text-blue-200 my-4
        sm:text-2xl;
      }

      .topics {
        @apply grid grid-cols-1 gap-4
        sm:grid-cols-2
        md:grid-cols-3
        lg:grid-cols-2
        xl:grid-cols-3;
      }

      .lists {
        @apply grid gap-4 grid-cols-auto-fit-140;
      }

      .no-list {
        @apply min-h-[calc(100vh-72px-352px)] flex items-center justify-center text-2xl font-bold text-gray-300
        sm:min-h-[calc(100vh-223px-192px)]
        md:min-h-[calc(100vh-223px-152px)]
        lg:min-h-[calc(100vh-223px-96px)];
      }
    }
  }
}
