.container {
  @apply min-h-[calc(100vh-201px-73px)]
   sm:min-h-[calc(100vh-193px-81px)]
   md:min-h-[calc(100vh-153px-81px)]
   lg:min-h-[calc(100vh-97px-81px)];

  .sub-container {
    @apply mx-auto 
    md:max-w-[738px]
    lg:max-w-[962px]
    xl:max-w-[1170px];

    .words {
      @apply mx-auto grid grid-cols-1 gap-4 my-6 px-4
      sm:grid-cols-2
      lg:grid-cols-4;

      .column {
        @apply w-full mx-auto flex flex-col flex-wrap gap-6;

        .expanded {
          @apply h-[192px]
        lg:h-[253px];

          > div {
            .photos {
              @apply h-[92px] w-[92px];
            }
          }
        }
      }
    }
  }
}

.heading {
  @apply py-8 px-4 flex flex-col bg-[#F3F7FF] 
  lg:pt-12;

  .sub-container {
    @apply mx-auto 
    md:max-w-[738px]
    lg:max-w-[962px]
    xl:max-w-[1170px];

    .input-container {
      @apply flex;

      > input {
        @apply rounded-l-3xl border-r-0 rounded-r-none;
      }

      > button {
        @apply rounded-none rounded-r-3xl px-4
        md:px-8;
      }
    }
  }
}

.card {
  @apply bg-[#e6eaf0] h-[144px] cursor-pointer rounded-3xl text-center flex flex-col items-center justify-center gap-3 
  lg:h-[182px] 
  [&_h2]:lg:hover:text-purple-100 
  lg:hover:bg-[#E6EAF0];

  > div {
    @apply flex flex-col gap-3 items-center;

    h2 {
      @apply font-medium text-sm 
    lg:text-base;
    }

    .photos {
      @apply flex items-center justify-center h-[72px] w-[72px];

      img {
        @apply max-w-full h-auto;
      }
    }
  }
}
