.header {
  @apply flex items-center p-4 justify-between
  sm:mx-3 
  xl:max-w-[1320px] xl:mx-auto;
}

.header-left {
  @apply flex items-center;

  a {
    @apply font-bold p-2;
  }
}

.user {
  @apply flex items-center;
}

.arrow {
  @apply ml-2;
}

.user-avatar {
  @apply rounded-full bg-black w-10 h-10 flex items-center justify-center;
}

.icon {
  @apply fill-white;
}

.nav-list {
  @apply hidden 
  lg:flex lg:items-center lg:gap-5 lg:ml-5;
}

.nav-item {
  @apply flex items-center font-bold;
}
