.row {
  // repeat(6,_minmax(150px,_1fr))
  @apply cursor-pointer relative grid grid-cols-[minmax(100px,_10fr)_minmax(140px,_14fr)_minmax(180px,_18fr)_minmax(100px,_10fr)_minmax(115px,_11.5fr)_minmax(135px,_13.5fr)_minmax(120px,_12fr)] w-full transition-all duration-[.3s] ease-in-out
  even:bg-white-200
  hover:bg-purple-300
  [&_.word-modal]:hover:visible [&_.word-modal]:hover:opacity-100;

  > div {
    @apply border-l border-t p-1;

    .icon {
      @apply mr-1.5;
    }

    &:first-child {
      @apply border-l-0;
    }
  }

  &:first-child {
    div {
      @apply flex items-center border-t-0;
    }
  }

  &:last-child {
    @apply border-b;
  }
}

.modal {
  @apply flex flex-col px-2 h-[calc(100vh-85px)] overflow-y-auto
  sm:h-[calc(100vh-300px)] 
  lg:flex-row lg:h-[calc(100vh-305px)] 
  xl:h-[calc(100vh-275px)];

  .col-1 {
    @apply flex flex-col w-full;

    > div {
      @apply rounded-3xl shadow-md;

      .word {
        @apply rounded-t-3xl bg-[#F7F9FC] p-6 justify-between flex flex-col gap-4 
        md:p-6 md:gap-5;

        .heading {
          @apply flex justify-between;

          .word-section {
            @apply text-lg my-auto font-bold leading-8 
            sm:text-[28px];
          }
        }

        .translation {
          @apply flex items-center;

          .flag {
            @apply w-5 mr-4 
            md:w-6;
          }
        }
      }

      .lang-parts {
        @apply items-center gap-1.5 bg-[#F0F4FA] rounded-b-3xl py-2 px-4 font-medium flex flex-wrap 
        md:py-3 md:px-6;
      }
    }
  }
}

.word-modal {
  @apply flex items-start justify-start gap-2;
}

.delete-modal {
  @apply sm:h-[200px] sm:w-[475px] sm:self-center sm:justify-self-center;

  > div {
    @apply flex flex-col items-center h-full justify-center;
  }

  .delete {
    @apply flex flex-col justify-center items-center;

    h6 {
      @apply text-xl text-center font-bold mb-5 mt-[-35px];
    }

    .btns {
      @apply grid grid-cols-2 w-full gap-4;

      button {
        @apply rounded-lg;
      }
    }
  }
}
