.container {
  .item {
    @apply mb-14 
    lg:mb-10;

    > div {
      @apply flex mt-6 items-center font-medium
      lg:mt-10;

      img {
        @apply mr-2;
      }
    }
  }

  .btns {
    @apply relative;

    .arrow-left {
      @apply absolute top-[-37px] left-[65px] z-[11]
      sm:left-[190px]
      md:left-[290px]
      lg:top-[calc(50%-37px)] lg:left-[90px];
    }

    .arrow-right {
      @apply absolute top-[-37px] right-[65px] z-[11]
      sm:right-[190px]
      md:right-[290px] 
      lg:top-[calc(50%-37px)] lg:right-[90px];
    }
  }
}
