.top {
  @apply mb-6 flex justify-between 
  sm:hidden;
}

.description {
  @apply hidden my-2
  sm:flex sm:rounded-2xl sm:border sm:border-[#849adba1] sm:flex-col sm:px-2 
  md:basis-5/12 md:justify-between md:min-w-[300px] md:max-w-[350px];
}

.info {
  @apply sm:m-4 sm:py-5 sm:px-2 md:mx-6;
}
