.word-card {
  @apply p-2 flex flex-col gap-5 col-span-full order-2 
  xl:col-span-2;

  .header {
    @apply flex gap-2 flex-col;

    .title {
      @apply flex gap-8 items-center mt-4;

      .word {
        @apply text-lg font-bold 
        sm:text-2xl 
        md:text-3xl;
      }

      .btns {
        @apply flex gap-4 flex-col 
        sm:flex-row;

        .btn {
          @apply bg-transparent text-black flex items-center justify-center p-3 rounded-2xl bg-[#F0F0F0]
          lg:hover:bg-blue-200 lg:hover:text-white-100;
        }
      }
    }

    .pronunciation {
      @apply flex gap-2;
    }

    .part-of-speech {
      @apply inline-block text-sm self-start font-bold text-[#fff] px-2 py-1 rounded-lg capitalize;
    }

    .synonyms {
      @apply flex gap-3;

      button {
        @apply text-black text-sm py-3 px-3 flex items-center rounded-2xl bg-[#C9F8E1] font-medium;

        > span {
          @apply mt-[2px] h-[18px];
        }
      }
    }
  }
}
