.container {
  @apply flex flex-col p-4 min-h-[calc(100vh-397px-73px)]
  sm:min-h-[calc(100vh-193px-81px)]
  md:min-h-[calc(100vh-153px-81px)]
  lg:min-h-[calc(100vh-97px-81px)];

  .sections {
    @apply flex flex-col w-full;

    .top {
      @apply flex items-center my-2 text-blue-200;
    }

    .items {
      @apply grid gap-4 grid-cols-auto-fill-140 items-start;

      .item {
        @apply flex items-center justify-center;
      }
    }
  }

  .loader {
    @apply h-[calc(100vh-397px-73px)] w-[calc(100vw-32px)]
    sm:h-[calc(100vh-193px-81px)] 
    md:h-[calc(100vh-153px-81px)] 
    lg:h-[calc(100vh-97px-81px-32px)] lg:w-[calc(100vw-254px-32px)];
  }
}
