.container {
  @apply relative min-h-[calc(100vh-120px-81px)]
  sm:min-h-[calc(100vh-130px-81px)] 
  md:min-h-[calc(100vh-88px-81px)] 
  lg:min-h-[calc(100vh-32px-81px)];

  .switcher {
    @apply flex gap-4 absolute right-[5px] top-[40px] w-[130px] h-[44px];

    .btn {
      @apply bg-transparent text-black flex items-center justify-center p-3 rounded-2xl bg-[#F0F0F0]
      lg:hover:bg-blue-200 lg:hover:text-white-100;
    }
  }
}
