.card {
  @apply relative bg-white-200 flex flex-col pt-6 pb-7 pl-6 pr-4 h-[317px] w-[300px] rounded-2xl rounded-tr-3xl justify-between
  sm:w-[400px]
  md:w-[32%]
  lg:pl-9 lg:pr-6
  after:content-[''] after:bg-blue-100 after:w-3 after:h-full after:rounded-2xl after:absolute after:left-0 after:top-0
  after:first:bg-grey-100
  before:content-[''] before:bg-purple-100 before:w-full before:h-3 before:rounded-2xl before:absolute before:bottom-0 before:left-0
  before:first:bg-grey-100;

  a {
    @apply flex justify-center items-center text-center py-2 px-6 items-center bg-blue-200 font-bold rounded-full text-white-100 transition-all ease-linear duration-150 w-full self-end py-3 px-10 
    sm:w-[200px]
    hover:bg-purple-100;
  }

  .outline {
    @apply bg-transparent text-blue-200 border border-solid border-blue-200
    hover:bg-transparent hover:border-purple-100 hover:text-purple-100;
  }

  h6 {
    @apply font-medium text-lg 
    lg:text-2xl;
  }

  .title {
    @apply mt-3.5 flex text-2xl font-bold relative flex items-baseline
    lg:text-4xl;

    h3 {
      @apply text-2xl font-bold mb-3 mr-3 
      lg:text-4xl;
    }

    span {
      @apply line-through text-grey-100 flex items-center text-lg font-medium 
      lg:text-2xl;
    }
  }

  ul {
    li {
      @apply mt-6 lg:mt-4 flex items-center h-6 text-black text-sm font-medium
      lg:text-[.95rem];
    }
  }

  svg {
    @apply text-orange mr-1.5 text-2xl
    md:hidden 
    lg:block;
  }

  .popular {
    @apply absolute right-[-6px] top-4;

    svg {
      @apply w-[123px];
    }
    p {
      @apply text-xs font-medium absolute top-[11px] left-[15px] text-white-100;
    }
  }

  .best {
    @apply absolute right-[-6px] top-4;

    svg {
      @apply w-[123px];
    }
    p {
      @apply text-xs font-medium absolute top-[11px] left-[15px] text-white-100;
    }

    .changed {
      @apply top-[4px];
    }
  }

  .discount {
    @apply absolute right-[-6px] top-16;

    svg {
      @apply w-[63px];
    }
    p {
      @apply text-xs font-medium absolute top-[9px] left-[20px] text-white-100;
    }
  }
}
